@charset "UTF-8";

/* 共通部分
-------------------- */
html {
    font-size: 100%;
    margin-top: 40px;
}
body {
    font-family: "Yu Gothic Medium", YuGothic, sans-serif;
line-height: 1.7;
}
a {
    text-decoration: none;
    color: black;  
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    padding: 0 10%;
    padding-bottom: 30px;
}
/*h2 {
font-family: 'Abril Fatface', cursive;
font-size: 30px;
font-weight: bold;
margin-right: 500px;
text-align: center;
}

/* HEADER
-------------------- */
.sns-list {
    display: flex;
    font-size: 2.0rem;
    text-transform: uppercase;
    list-style: none;
    padding: 0 10%;
}
.sns-list li {
    margin-left: 10px;
}
/*.wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 4%;
}

/* MAIN
-------------------- */
.container {
    display: flex;
}
.main-image {
    max-width: 100%;
    padding: 0 10px;
}

.main-body img {
    border-radius: 50%;
    height: 300px;
    width: 300px; 
    margin-top: 150px;
    margin-bottom: auto;
}
.main-body p {
flex: 1;
font-family: 'M PLUS Rounded 1c', sans-serif;
margin: 200px 50px;
text-align: justify;
font-size: 14px;
line-height: 1.9;
}
.wrapper h2 {
    display: flexbox;
    font-family: 'Abril Fatface', cursive;
    vertical-align: middle;
    margin-top: 120px;
    margin-bottom: 120px;
}
.main-body {
    display: flex;
}

/* FOOTER
-------------------- */
footer {
    background: black;
    text-align: center;
    padding: 20px 0;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    max-width: 2500px;
}
footer p {
    color: #fff;
    text-align: center;
    font-size: 0.875rem;
}
